<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<h2>Result</h2>

<th:block th:each="link:${searchResult}">

    <a th:text="${link.title}" th:href="@{|${link.url}|}" target="_blank"></a>

    <p th:text=" 'Submitted by ' + ${link.userName}"></p>
    <p th:text="${#dates.format(link.date, 'MMM dd, yyyy')}"></p>

</th:block>


<br/>
<br/>
<p><a href="/">Home Page</a></p>
<p><a href="/add">Add a new post</a></p>
<p><a href="/search">Search by a publisher name</a></p>

</body>
</html>